name: Documentation

on: push

jobs:
  doc:
    runs-on: ubuntu-latest
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Git checkout
        uses: actions/checkout@v6
        with:
          submodules: 'recursive'
          persist-credentials: false
      - name: Install Debian packages
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
      - name: Download mdbook
        run: |
          wget https://github.com/rust-lang/mdBook/releases/download/v0.5.1/mdbook-v0.5.1-x86_64-unknown-linux-gnu.tar.gz
          CHECKSUM=$(sha256sum mdbook-v0.5.1-x86_64-unknown-linux-gnu.tar.gz)
          CHECKSUM_BITS=$(echo $CHECKSUM | cut -f 1 -d' ')
          echo Checksum calculation: $CHECKSUM
          CHECKSUM_BITS=$(echo $CHECKSUM | cut -f 1 -d' ')
          if [[ "$CHECKSUM_BITS" != "5c746127707bd768ecfc2d7fb2374cc11d5ae653aea438e15eea3154a1a69f92" ]]
          then
            echo "Checksum of downloaded mdbook is wrong."
            exit 1
          fi
          tar xf mdbook-v0.5.1-x86_64-unknown-linux-gnu.tar.gz
          mv ./mdbook /usr/local/bin/
          unlink mdbook-v0.5.1-x86_64-unknown-linux-gnu.tar.gz
      - name: Generate documentation
        run: |
          cd "$GITHUB_WORKSPACE"/documentation
          mdbook build
      - name: Collect documentation artifacts
        uses: actions/upload-artifact@v5
        with:
          name: pmdb-documentation
          if-no-files-found: error
          path: |
            documentation/book/
