name: MSYS2

on: push

jobs:
  msys2:
    strategy:
      fail-fast: false
      matrix:
        include:
          - msystem: mingw64
            package: x86_64
          - msystem: ucrt64
            package: ucrt-x86_64
    runs-on: windows-2022
    defaults:
      run:
        shell: msys2 {0}
    steps:
      # Checks-out the repository under $GITHUB_WORKSPACE.
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: 'recursive'
          persist-credentials: false
      - name: Install MSYS2 + build dependencies
        uses: msys2/setup-msys2@v2
        with:
          msystem: ${{matrix.msystem}}
          update: true
          install: >-
            git
            mingw-w64-${{matrix.package}}-boost
            mingw-w64-${{matrix.package}}-catch
            mingw-w64-${{matrix.package}}-cmake
            mingw-w64-${{matrix.package}}-gcc
            mingw-w64-${{matrix.package}}-libxml2
            mingw-w64-${{matrix.package}}-ninja
            mingw-w64-${{matrix.package}}-pkg-config
            mingw-w64-${{matrix.package}}-zlib
      - name: Build
        run: |
          export MSYSTEM=$(echo ${{matrix.msystem}} | tr '[:lower:]' '[:upper:]')
          export CXX=g++
          export CC=gcc
          cd "$GITHUB_WORKSPACE"
          mkdir build
          cd build
          cmake ../
          cmake --build . -j2
#      - name: Tests
#        run: |
#          export MSYSTEM=$(echo ${{matrix.msystem}} | tr '[:lower:]' '[:upper:]')
#          cd "$GITHUB_WORKSPACE"/build
#          ctest -V
      - name: Build statically linked executable
        run: |
          export MSYSTEM=$(echo ${{matrix.msystem}} | tr '[:lower:]' '[:upper:]')
          export CXX=g++
          export CC=gcc
          cd "$GITHUB_WORKSPACE"
          mkdir build-static
          cd build-static
          cmake ../ -DENABLE_LTO=ON -DENABLE_STATIC_LINKING=ON
          cmake --build . -j4
#      - name: Tests of build with statically linked build
#        run: |
#          export MSYSTEM=$(echo ${{matrix.msystem}} | tr '[:lower:]' '[:upper:]')
#          cd "$GITHUB_WORKSPACE"/build_static_std_libs
#          ctest -V
      - name: Gather build artifacts
        run: |
          export MSYSTEM=$(echo ${{matrix.msystem}} | tr '[:lower:]' '[:upper:]')
          cd "$GITHUB_WORKSPACE"
          mkdir artifacts
          # binary files
          ./ci/copy-dll-dependencies.sh build-static/code/pmdb.exe artifacts/
          # license + third-party notices
          cp LICENSE artifacts/
          cp third-party.md artifacts/
          # template files
          cp code/templates/*.tpl artifacts/
          # documentation
          cp -R documentation artifacts/documentation
          # remove unnecessary files
          unlink artifacts/documentation/msys2-build.md
          unlink artifacts/documentation/SUMMARY.md
          unlink artifacts/documentation/book.toml
          unlink artifacts/documentation/.gitignore
          # determine version
          VERSION=$(git describe --always)
          mv artifacts pmdb_${VERSION}
          '/c/Program Files/7-Zip/7z.exe' a -r pmdb_${VERSION}.zip pmdb_${VERSION}
      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: pmdb-windows-msys2-${{matrix.msystem}}
          if-no-files-found: error
          path: |
            pmdb*.zip
